.container {
      width: 90%;
}

.display_img {
}

.ondisplay_img {
  width: 100%;
  height: 349px;
  flex-shrink: 0;
}

.selected_img {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-inline: auto;
  margin-top: 1rem;
}
.onselected_img {
  width: 16%;
  height: 63px;
  flex-shrink: 0;
}

.prev_btn {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #eaebee;
}
