.profile_setting_container {
    width: 68%;
    height: 100vh;
    padding: 2rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
}

.profile_setting_title {
  color: var(--Black-100, #2a2a2a);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.profile_settings_box {
  display: flex;
  width: 100%;
  padding: 6px 7px 5px 7px;
  justify-content: space-around;
  align-items: flex-start;
  gap: 12px;
  border-radius: 4px;
  background: var(--primary-color-1-white-40, #f9f9f9);
}

.profile_settings_box_title {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 10px;
  color: var(--Soft-black, #565656);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile_settings_box_title:hover {
  background: #fff;
}

.form_container {
  display: flex;
  padding: 17px 144px 95px 129px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 0.5px solid rgba(118, 117, 117, 0.21);
  background: var(--White, #fefefe);
}

.form_first_input {
  display: inline-flex;
  align-items: flex-start;
  gap: 21px;
}

.form_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.form_label {
  color: var(--Soft-black, #565656);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form_name_icon {
  width: 354px;
  height: 50px;
  border-radius: 4px;
  border: 0.5px solid #27a124;
  background: #f6f6f6;
}

.form_name_input {
  width: 354px;
  height: 50px;
  border-radius: 4px;
  border: 0.5px solid #27a124;
  background: #f6f6f6;
}
.form_name_input::placeholder {
  color: var(--Soft-black, #565656);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form_name_input_icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.form_textarea_box {
  display: flex;
  width: 729px;
  align-items: flex-start;
  gap: 21px;
}

.form_textarea_label {
  color: var(--Soft-black, #565656);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form_textarea_area {
  display: flex;
  width: 729px;
  height: 123px;
  padding: 10px 478px 89px 16px;
  align-items: center;
  border-radius: 4px;
  background: rgba(246, 246, 246, 0.66);
}

.form_submit {
  display: flex;
  width: 729px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: rgba(118, 117, 117, 0.22);
  color: #fcfcfc;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
