section.partner_header-container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 7rem auto 0;
}

.partner_header-content {
    margin-top: 2.9rem;
}

h1.partner_header-h1 {
    color: #2A2A2A;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
}

p.partner_header-p {
    color: #2A2A2A;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 2rem;
}

button.partner_header-btn {
    display: flex;
    padding: 0.7rem 1rem;
    width: 7rem;
    justify-content: center;
    align-items: center;
}

.partner_header-top {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

img.partner_header-top_img {
    width: 20rem;
}

img.partner_header-img {
    width: 100%;
}
